/*
 * Copyright (c) 2020, Richard Osterloh
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&i2c1 {
	tsl25721@60 {
		compatible = "ams,tsl25721";
		status = "okay";
		reg = <0x60>;
		int-gpios = <&gpioa 14 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		led-current = <200>;
		led-duty-cycle = <320>;
		proximity-it = "8";
		proximity-trigger = "close";
		als-it = <640>;
	};
};
